:root {
  --book-midnight: #231b59;
  --book-wine: #730202;
  --book-lavender: #11DA3E7;
  --book-bg: #e5e4d7;
}
.btn-wine {
  background-color: var(--book-wine);
  color: white;
  border: none;
  transition: 0.3s;
}
.btn-wine:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
.fw-bold {
  color: var(--book-midnight);
}
.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-3px);
}
.profile-page-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.profile-main-container {
  display: flex;
  background-color: #e5e4d7; /* Light Shell Gray */
  min-height: 100vh;
}

.profile-content {
  flex-grow: 1;
  padding: 40px;
  /* Esto evita que el contenido se meta debajo del Navbar */
  margin-left: 10px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 35px;
  border: none;
}

.profile-avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-edit-profile {
  background-color: #730202; /* Rojo Granate */
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.genre-pill {
  background-color: #e5e4d7;
  color: #231b59; /* Azul Medianoche */
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.book-cover-profile {
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
