:root {
<<<<<<< HEAD
  --azul-oscuro: #231B59;
  --azul-medio: #5DA4D9;
  --azul-claro: #11DA3E7;
  --granate-bookie: #730202;
  --gris-fondo: #f5f5f4; /* El "Light Shell Gray" de tu foto */
}

/* Aplicamos el fondo a toda la web */
body {
  background-color: var(--gris-fondo);
  margin: 0;
=======
  --book-dark: #231B59;
  --book-primary: #5DA4D9;
  --book-lavender: #B5B0F7; 
  --book-wine: #730202;
  --book-bg: #EAE8E4; /* Light Shell Gray */
}

body {
  background-color: var(--book-bg) !important;
>>>>>>> 0a8aed14c4d6f0dd43e8817f0702a6fe97fa1200
  font-family: 'Inter', sans-serif;
}